*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

body{
    background-color: #FFFFFF;
    font-family: "Afacad Flux", sans-serif;
}

/* HEADER BOOTSTRAP */
.bg-body-tertiary {
    background-color: rgba(240, 128, 128, 0.918) !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-brand img{
    width: 70px;
    height: 70px;
}
.nav-item a{
    color: white;
    font-size: 20px;
    margin-left: 30px;
}
.dropdown-menu a{
    padding: 20px;
    margin-left: 10px;
}

.dropdown-menu a :hover{
    background-color: rgba(240, 128, 128, 0.336);
}
.dropdown-menu{
    background-color: lightcoral;
    margin-right: 40px;
    border: none;
}

.btn{
    background-color: rgba(255, 255, 255, 0.281);
    color: rgb(0, 0, 0);
}

.form-control{
    background-color: rgba(255, 255, 255, 0.384);
    border: none;
}

/* MAIN - HERO DEL INDEX*/
.hero{ /* fondo moda */
    background-image: url(../img/main-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.hero a{ /* enlace compra ahora */
    bottom: 150px;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(240, 128, 128, 0.466);
    color: white;
    border-radius: 20px;
    margin-bottom: 100px;
    padding: 20px;
}

.hero a:hover{
    background-color: rgba(255, 255, 255, 0.603);
    color: lightcoral;
}
/* MAIN - VERANO DEL INDEX */

.verano{
    width: auto;
    height: 700px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-bottom: 70px;
}

.verano img{
    padding: 30px;
    width: 1500px;
    height: 700px;
}

.verano-conteiner{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.verano h1{
    color: lightslategray;
    font-weight: 500;  
    font-size: 45px; 
    margin-bottom: 10px;
}

.verano h2{
    font-size: 30px; 
    color: lightslategray;
    font-weight:lighter;
    font-style: italic;
    margin-bottom: 50px;
}

.verano a{
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(240, 128, 128, 0.788);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.verano a:hover{
    background-color: rgba(255, 255, 255, 0.603);
    color: lightcoral;
}


/* MAIN - CATEGORIAS DEL INDEX */

.categorias{
    background-color: rgba(240, 128, 128, 0.199);
    height: 900px;
}

.categorias h2{
    text-transform: uppercase;
    padding: 40px;
    font-size: 35px;
    font-style: bold;
    color: lightcoral;
}

.categorias p{
    font-size: 20px;
    font-style: italic;
    margin: 20px;
    padding-left: 40px;
    color: lightslategray;
}
/* PRUEBA DESDE ACA */
.contenedor-tarjetas{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tarjetas-1{
    margin: 20px;
    background-image: url(../img/hombre.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 500px;
    border-radius: 5px;
}
.tarjetas-2{
    margin: 20px;
    background-image: url(../img/mujer.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 500px;
    border-radius: 5px;
}
.tarjetas-3{
    margin: 20px;
    background-image: url(../img/jeans.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 500px;
    border-radius: 5px;
}
.tarjetas-4{
    margin: 20px;
    background-image: url(../img/accesorios.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 500px;
    border-radius: 5px;
}

.contenido-tarjetas{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: .5s;

}

.contenido-tarjetas h3{
    color: lightcoral;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

.contenido-tarjetas a{
    width: 100px;
    height: 100px;
}

.tarjetas-1:hover .contenido-tarjetas{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.671);
}

.tarjetas-2:hover .contenido-tarjetas{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.671);
}
.tarjetas-3:hover .contenido-tarjetas{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.671);
}
.tarjetas-4:hover .contenido-tarjetas{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.671);
}
/* HASTA ACA */

/* GRID TODO ROTO */
/* .categorias-conteiner{
padding: 60px;
margin-bottom: 300px;
display: grid;
grid-template-columns: (4,1fr);
grid-auto-rows: 250px;
grid-template-areas:  
"div div div div";
/* FOOTER DE TODOS LOS HTML */

#footer {
    background: linear-gradient(to right, lightslategray, lightcoral);
    color: #fff;
    padding: 20px;
}

.footer-content {
    max-width: 900px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.footer-form input[type="text"],
.footer-form input[type="email"],
.footer-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    background-color: rgba(231, 231, 231, 0.411);
}

.footer-form button {
    padding: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-form button:hover {
    background-color: #777;
}

.footer p {
    margin-top: 15px;
}

.registro{
    margin-top: 30px;
    font-size: 20px;
}

span a{
    margin-left: 10px;
    color: lightslategray;
    font-size: 20px;
}

span a:hover{
    color: white;
}

.redes{
    padding: 20px;
}

.redes ul{
    list-style-type:none;
}

.redes ul li{
    text-align: center;
}

.redes ul li a{
    padding:20px;
}

.copyright{
    padding-top: 20px;
    text-align: center;
}

/* PAGE COMPRAS */

.main-compras{
    background-color: rgba(240, 128, 128, 0.062); 
    text-align: center;
    padding: 40px;
}

.main-compras h1{
    font-size: 40px;
    color: lightcoral;
}

.main-compras-conteiner{
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 70px;
}

.main-compras-conteiner h2{
    font-size: 20px;
    color: lightslategray;
    padding: 10px 30px;
}
.main-compras-conteiner2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    border-radius: 8px;
}

.card h3 {
    font-size: 20px;
    margin: 10px 0;
}

.card button {
    background-color: lightcoral;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}


/* PAGE VERANO */

.preparate{
    padding-top: 100px;
    background-image: url(../img/playa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1920px;
    height: 600px;
}

.preparate h1{
    font-size: 50px;
    color: lightcoral;
    padding-bottom: 200px;
    text-align: center;
}

.preparate h2{
    text-align: right;
    padding-right: 80px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.548);
}

.verano-tarjetas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25px;
    height: 600px;
}

.verano-tarjetas .card{
    background-color: rgba(226, 159, 13, 0.26);
}


.verano-tarjetas div{
    padding: 60px;
}

.verano-tarjetas .card p{
    padding-bottom: 20px;
    color: lightcoral;
}

/* PAGE TIENDAS */

.tienda{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(240, 128, 128, 0.062);
}

.tienda h1{
    font-size: 50px;
    color: lightcoral;
    font-style: bold;
    text-transform: uppercase;
}

.tienda h2{
    font-size: 30px;
    color: rgb(82, 56, 56);
    font-style: bold;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 30px;
}

.tienda p{
    font-style: italic;
    padding-bottom: 5px;
    font-size: 25px;
}

.tienda iframe{
    padding: 50px;
    margin-top: 50px;
    width: 900px;
    height: 600px;
}


/* PAGE SUSCRIBITE */

.formulario{
    background-image: url(../img/ubicacion.png);
    background-position: center;
    background-repeat: none;
    background-size: 1900px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.div-formulario {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.div-formulario h1 {
    margin-bottom: 20px;
    color: lightcoral;
}

.div-formulario form {
    display: flex;
    flex-direction: column;
}

.div-formulario label {
    margin-bottom: 5px;
    font-weight: bold;
    color: lightslategray;
}

.div-formulario input, select {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: lightslategray;
}

.div-formulario input[type="submit"] {
    background-color: lightcoral;
    color: white;
    border: none;
    font-size: 18px;
}

@media screen and (max-width:1500px){

    .verano img{
        width: 1000px;
        height: 500px;
    }

    .verano{
        align-items: center;
        margin-top: 70px;
    }
}

@media screen and (max-width:1250px){

    .verano{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 70px;
    }
    .categorias{
        height:1500px;
    }
    .categorias-conteiner{
        grid-template-columns: (2,1fr);
        grid-auto-rows:auto;
        grid-template-areas:
        "hombre mujer"
        "jeans accesorios";
        }
    
    .categorias-conteiner div{
        padding: 20px;
    }

    .categorias h2{
        font-size: 40px;
        text-align: center;
    }
    
    .categorias p{
        font-size: 20px;
        margin: 10px;
        text-align: center;
    }

}

@media screen and (max-width:1027px){

    .footer-conteiner{
        flex-direction: column;
    }   
    
    .conteiner-2{
        align-items: center;
        margin-top: 50px;
    }

    .conteiner-2 h2{
        text-align: center;
    }
}   
        

